/* Reset Styles */

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* Reset Ends */

@font-face {
  font-family: roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}

html, body {
  height: 100%;
}

header {
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
}

.search-bar-container { 
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.header-action-container-1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 3fr 1fr;
}

.user-name-action {
  grid-column: 4 / 5;
}

.profile-container-header {
  display: grid;
  grid-template: 1fr 2fr / 2fr 6fr;
}

.profile-icon-header {
  grid-area: 1 / 1 / span 2 / span 1;
}

.header-action-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.page-container {
  display: grid;
  grid-template: 2fr 5fr / 1fr 4fr;
  height: 100%;
  font-family: roboto, arial, 'Times New Roman', Times, serif;
}

header {
  grid-column: 2 / -1;
  height: auto;
}

.sidebar {
  background-color: #1992d4;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  overflow: hidden;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar img {
  width: 2rem;
  height: 2rem;
  filter: brightness(0) invert(1);
}

.dashboard-text {
  text-decoration: none;
  color: white;
}

main {
  background-color: #e2e8f0;
  grid-column: 2 / -1;
  overflow-y: auto; 
}

.main-flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main-grid-container {
  border: 1px solid black;
  margin: 2rem 1rem 0 1rem;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 1.5rem;
}

.projects-container {
  display: grid;
  grid-template: 1fr repeat(3, 3fr) / repeat(2, 1fr); 
  gap: 2rem;
}

.projects-header {
  grid-column: 1 / -1;
}

.project-card {
  display: grid;
  grid-template-rows: 3fr 1fr;
  overflow-y: auto;
  background-color: white;
  border-radius: 12px;
}

.project-icons-container {
  display: flex;
  justify-content: right;
  gap: 2rem;
}

.project-icon {
  width: 2rem;
  height: 2rem;
}

.secondary-main-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2.2rem;
}

