/* Reset Styles */

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* Reset Ends */

html, body {
    height: 1000px;
}

.page-container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    height: 100%;
}

header {
    grid-column: 2 / -1;
}

.sidebar {
    background-color: #1992d4;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar img {
  width: 2rem;
  height: 2rem;
  filter: brightness(0) invert(1);
}

.dashboard-text {
  text-decoration: none;
  color: white;
}

main {
    background-color: #e2e8f0;
    grid-column: 2 / -1;
}